.ArtistList > h2 {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.artist-container {
    display: flex;
    justify-content: space-between;
}

.slide {
    padding-left: 13vw;
    padding-right: 13vw;
}
.slick-prev:before, .slick-next:before {
    color: black !important;
  }

@media (min-width: 320px) and (max-width: 812px) {
    .img-container {
        width: 65px;
        height: 65px;
        margin-bottom: 20px;
    }

h2 {
        font-size: 20px;
        margin-bottom: -20px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1112px)
{
    .img-container {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }

h2 {
        font-size: 30px;
        margin-bottom: -20px;
    }
}