.ArtistList > h2 {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.artist-container {
    display: flex;
    justify-content: space-between;
}

.slide {
    padding-left: 19vw;
    padding-right: 19vw;
}

.slick-prev:before, .slick-next:before {
    color: black !important;
  }