.Artist {
    display: flex;
    justify-content: space-between;
}

.artist-card {
    display: flex;
    flex-direction: column;
}

.artist-card-content {
    display: flex;
    text-align: center;
    padding-top: 80px;
    padding-left: 18px;
    position: absolute;
    opacity: 0;
    font-size: 15px;
    color: white;
}

.img-container {
    display: flex;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin-bottom: 40px;
}

.artist-img {
    width: auto;
    height: 100%;
    margin-left: -35px;
}

.artist-card:hover .artist-card-content {
    transition: 2s ease;
    position: absolute;
    opacity: 100;
}

.artist-card:hover .artist-card-content {
    transition: 0.6s ease;
    transform: translateY(20%);
    visibility: visible;
    margin-bottom: 10px;
}

.artist-card:hover .artist-img {
    box-shadow:0 0 10px rgba(0, 0, 0, 1);
}

