.Contact {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  width: 36%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  color: white;
}

.text {
  margin: 5px;
}

.contact-form {
  font-size: 3.6vh;
  color: white;
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
}

input[type='text'],
select,
textarea {
  width: 100%;
  padding: 2%;
  border: 1px solid rgb(189, 188, 188);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 12px;
  margin-bottom: 12px;
  color: white;
}

#name,
#country,
#email,
.request {
  background-color: rgb(210, 210, 210);
}

::placeholder {
    color: white;
}

.request {
  padding-bottom: 50px;
}

input {
  padding: 1%;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #ccc;
}

input[type='submit']:hover {
  background-color: #f7d9b4;
}

.container {
  padding: 2%;
}

.submit {
  background-color: rgb(210, 210, 210);
  color: white;
  border: 1px solid rgb(182, 182, 182);

}

@media (min-width: 320px) and (max-width: 812px) {
  .Contact {
    width: 80%;
    height: 71vh;
  }
}

@media (min-width: 768px) and (max-width: 1112px) {
  .Contact {
    height: 83.5vh;
    width: 80%;
    margin-top: -90px;
    margin-bottom: -90px;
  }
}

