.Footer {
    height: 10vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    margin-top: 84vh;
}

.footer-columns-container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: auto;
    margin-left: 3%;
}


.social-links {
    display: flex;
    justify-content: space-between;
    font-size: 6vh;
}

.social-links a:hover {
    color: rgb(124, 84, 8);
}

@media (max-width: 812px) {
   
  }