.Footer {
    height:20vh;
    background-image: linear-gradient(to top, #8fd3ef, #b6dcf8, #d6e5fc, #eef1fd, #ffffff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;
    width: 100%;
}

.footer-columns-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.text {
    font-size: 0.8vw;
}

.adress {
    margin-right: 120px;
}

.footer-column {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.footer-column h4 {
    padding-top: 20px;
}

.social-links {
    margin-top: 15px;
    font-size: 2vw;
}

.social-links a:hover {
    color: grey;
}

.greetings {
    text-align: center;
    padding-bottom: 10px;
    font-size: 10px;
}

@media screen and (min-width: 320px) and (max-width: 812px)
{
   .footer-columns-container {
       margin :0;
       display: flex;
       justify-content: center;
       margin-left: 50px;
   }

   .adress {
       margin: 0;
   }
}

@media screen and (min-width: 768px) and (max-width: 1112px)
{
   .footer-columns-container {
       margin :0;
       display: flex;
       justify-content: center;
       margin-left: 50px;
   }

   .adress {
       margin: 0;
   }
}