@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
  --main-color: #FFB460;
  background: linear-gradient(to bottom, #95d7f2, #badffa, #d8e8fd, #eff2fe, #ffffff);
}

* {
  margin: 0;
  padding: 0;
}



* {
  font-family: 'Noto Sans JP', sans-serif;
}